h1, h2 {
    background-color: rgb(22, 158, 158);
color: rgb(45, 5, 92);
font-size: 1rem;
border: 5px dotted whitesmoke;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
font-style: italic;
}
.dim{
    color: blueviolet;
}

body{ 
    background-color: rgb(161, 148, 190);
    color: blue;
}

p{
    color: rgb(38, 69, 95);
}

ul{
    color: brown;
    font-size: small;
}

tr{
    color: rgb(209, 26, 133);
}